
.links-col {
  /*text-align: right;*/
}

.links-col ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
}

.links-col ul li {
  display: inline;
  margin-right: 30px;
}

.links-col ul li a {
  cursor: pointer;
}

.todos .todo {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.todos .todo:last-child {
  border-bottom: none;
}
