
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="page-header">Todos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 links-col">
      <ul>
        <li>Welcome {{user.username}}</li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="todo-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <form ng-submit="addTodo()">
              <input ng-model="newTodo.text" type="text" class="form-control" placeholder="Enter a todo...">
            </form>
          </div>
          <div class="panel-body">

            <div class="todos">

              <div ng-if="todos.length == 0">
                <h3>No Todos!</h3>
              </div>

              <div ng-if="todos.length > 0">
                <div class="todo" ng-repeat="todo in todos">
                  <div class="row">
                    <div class="col-md-1">
                      <input ng-checked="todo.completed" ng-click="toggleCompleted(todo)" type="checkbox">
                    </div>
                    <div class="col-md-2">
                      <div class="status completed" ng-if="todo.completed">
                        Complete
                      </div>
                      <div class="status incompleted" ng-if="!todo.completed">
                        Incomplete
                      </div>
                    </div>
                    <div class="col-md-7">
                      {{todo.text}}
                      <small>( {{todo.createdAt | date:'MM/dd h:mm'}} )</small>
                    </div>
                    <div class="col-md-2 remove-col">
                      <a>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="todo">
                <div class="row">
                  <div class="col-md-1">
                    <input type="checkbox">
                  </div>
                  <div class="col-md-9">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum.
                  </div>
                  <div class="col-md-2">
                    03/27 3:00pm
                  </div>
                </div>
              </div> -->

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
