
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="page-header">Todos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 links-col">
      <ul>
        <li>Welcome Someone</li>
        <li><a>Logout</a></li>
      </ul>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="todo-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <input type="text" class="form-control" placeholder="Enter a todo...">
          </div>
          <div class="panel-body">

            <div class="todos">
              <div class="todo">hello</div>
              <div class="todo">hello</div>
              <div class="todo">hello</div>
              <div class="todo">hello</div>
              <div class="todo">hello</div>
              <div class="todo">hello</div>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
