
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="page-header">Todos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 links-col">
      <ul>
        <li>Welcome Someone</li>
        <li><a>Logout</a></li>
      </ul>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="todo-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <input type="text" class="form-control" placeholder="Enter a todo...">
          </div>
          <div class="panel-body">

            <div class="todos">
              <div class="todo">
                <div class="row">
                  <div class="col-md-1">
                    <input type="checkbox">
                  </div>
                  <div class="col-md-9">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum.
                  </div>
                  <div class="col-md-2">
                    03/27 3:00pm
                  </div>
                </div>
              </div>

              <div class="todo">
                <div class="row">
                  <div class="col-md-1">
                    <input type="checkbox">
                  </div>
                  <div class="col-md-9">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum.
                  </div>
                  <div class="col-md-2">
                    03/27 3:00pm
                  </div>
                </div>
              </div>

              <div class="todo">
                <div class="row">
                  <div class="col-md-1">
                    <input type="checkbox">
                  </div>
                  <div class="col-md-9">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum.
                  </div>
                  <div class="col-md-2">
                    03/27 3:00pm
                  </div>
                </div>
              </div>

              <!-- <div class="todo">
                <input type="checkbox">
                <div class="vert-divider"></div>
              </div> -->

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
